<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>AddressBook</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.widget.addressbook.plugin</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>AddressBook</string>
	<key>CFBundlePackageType</key>
	<string>WBPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.2</string>
	<key>NSPrincipalClass</key>
	<string>ABPlugin</string>
	<key>WebPluginDescription</key>
	<string>Search Box for Address Book Widget</string>
	<key>WebPluginMIMETypes</key>
	<dict>
		<key>x-abplugin/x-abplugin</key>
		<dict>
			<key>WebPluginExtensions</key>
			<array>
				<string>abplugin</string>
			</array>
			<key>WebPluginTypeDescription</key>
			<string>AddressBookSearchBox</string>
		</dict>
	</dict>
	<key>WebPluginName</key>
	<string>AddressBookSearchBox Plugin</string>
</dict>
</plist>
